.hidden { 
	display: none; 
}

.hresume { 
	border: none; 
	background-color: #fff; 
}

a { 
	text-decoration: none; 
	color: #000; 
	font-weight: normal; 
}

#footer, .lnk { 
	display: none; 
}

abbr.value:after, address a.value:after {
	content: "\00A0\2022\00A0"; 
}

.page-break-before {
	display: block;
	page-break-before: always;
}
